*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
}

.container {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 100px auto 0;
}

.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin 10s linear infinite;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: repeating-linear-gradient(
      0deg,
      rgba(70, 70, 70, 0.2) 0px,
      rgba(70, 70, 70, 0.2) 1px,
      transparent 1px,
      transparent 21px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(70, 70, 70, 0.2) 0px,
      rgba(70, 70, 70, 0.2) 1px,
      transparent 1px,
      transparent 21px
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  animation: pulseUp 5s linear infinite;
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  animation: pulseDown 5s linear infinite;
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
  animation: pulseLeft 5s linear infinite;
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  animation: pulseRight 5s linear infinite;
}

.front {
  transform: rotateX(0) translateZ(100px);
  animation: pulseForwards 5s linear infinite;
}

.back {
  transform: rotateX(-180deg) translateZ(100px);
  animation: pulseBackwards 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotateX(-20deg) rotateY(0deg);
  }

  to {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

@keyframes pulseUp {
  0% {
    transform: translateY(-100px) rotateX(90deg);
  }

  50% {
    transform: translateY(-150px) rotateX(90deg);
  }

  100% {
    transform: translateY(-100px) rotateX(90deg);
  }
}

@keyframes pulseDown {
  0% {
    transform: translateY(100px) rotateX(90deg);
  }

  50% {
    transform: translateY(150px) rotateX(90deg);
  }

  100% {
    transform: translateY(100px) rotateX(90deg);
  }
}

@keyframes pulseForwards {
  0% {
    transform: translateZ(100px);
  }
  50% {
    transform: translateZ(150px);
  }
  100% {
    transform: translateZ(100px);
  }
}

@keyframes pulseBackwards {
  0% {
    transform: translateZ(-100px);
  }
  50% {
    transform: translateZ(-150px);
  }
  100% {
    transform: translateZ(-100px);
  }
}

@keyframes pulseLeft {
  0% {
    transform: translateX(-100px) rotateY(90deg);
  }
  50% {
    transform: translateX(-150px) rotateY(90deg);
  }
  100% {
    transform: translateX(-100px) rotateY(90deg);
  }
}

@keyframes pulseRight {
  0% {
    transform: translateX(100px) rotateY(90deg);
  }
  50% {
    transform: translateX(150px) rotateY(90deg);
  }
  100% {
    transform: translateX(100px) rotateY(90deg);
  }
}
